<div class="create-post">
  <div class="create">Create new Post </div>
  <textarea onfocus="openForm()" class="createpost"
    placeholder="Click on post button to add your proposal ..."></textarea>
  <button class="addPropsalbtn" onclick="openForm()"> Add your proposal </button>
</div>


<div class="form-popup" id="myForm">
  <form action="/create-post" class="form-container">
    <div class="pop-title">Craete Proposal :</div>

    <div class="inputsdiv">
      <label class='lbl' for="title">Title:</label>
      <input type="text" placeholder="Enter Title of proposal ..." name="title" required>
    </div>

    <div class="inputsdiv">
      <label class='lbldesc' for="description">Descrption:</label>
      <textarea type="text" placeholder="Enter Descrption of proposal ..." name="description" required></textarea>
    </div>

    <div class="inputsdiv">



      <div class="inputsdiv">
        <label class='lbldesc' for="category">Category:</label>
        <select>
          <option value="">1111111111111111111</option>
          <option value="">asdf</option>
          <option value="">3</option>
        </select>
      </div>
      <div class="inputsdiv">
        <label class='lblspecial' for="specalization">Specalization:</label>
        <select class="specaildrop">
          <option value="">1111111111111111111</option>
          <option value="">asdf</option>
          <option value="">3</option>
        </select>
      </div>


    </div>


    <div class="inputsdiv">
      <label class='lbldesc' for="requirment">Requirment:</label>
      <input style="min-width: 60% ; max-width: 60%;" class="requirment" id='requirment' type="text"
        placeholder="Enter Requirment of proposal ..." name="requirment" required>
      <button class="addbtn"> Add </button>
    </div>
    <div class="btns">
      <div style='width:70%;'> </div>

      <button type="button" class="btn cancel" onclick="closeForm()">close</button>
      <button type="submit" class="btn btncreate">Create </button>

    </div>

  </form>
</div>

<script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
</script>

<div class="card">
  <h3>Job Inquiries</h3>
  {{#each proposals}}
  <div class="content">
    <div class="head-content">
      <div class="img"><img src="{{this.photo}}" alt="user photo"></div>
      <div class="username-spec">
        <span class="fullname">{{this.firstname}} {{this.lastname}}</span><br>
        <span class="specname">{{this.specName}}web developer</span>
      </div>
    </div>
    <p class="description">{{this.description}} <a href="/proposal/{{this.id}}" class="">more..</a>
      <p>

  </div>
  {{/each}}
</div>