<div class="create-post">
  <div class="create">Create new Post </div>
  <textarea onfocus="openForm()" class="createpost"
    placeholder="Click on post button to add your proposal ..."></textarea>
  <button class="addPropsalbtn" onclick="openForm()"> Add your proposal </button>
</div>
<div class="form-popup" id="proposalForm">
  <form  class="form-container" id="form-container">
    <div class="pop-title">Craete Proposal :</div>
    <div class="inputsdiv">
      <label class='lbl' for="postTitle">Title:</label>
      <input type="text" placeholder="Enter Title of proposal ..." name="title" id="postTitle" required>
    </div>
    <div class="inputsdiv">
      <label class='lbldesc' for="postDescription">Descrption:</label>
      <textarea type="text" placeholder="Enter Descrption of proposal ..." name="description" id="postDescription" required></textarea>
    </div>
    <div class="inputsdiv">
      <div class="inputsdiv">
        <label class='lbldesc' for="category">Category:</label>
        <input type="text" readonly> 
      </div>
      <div class="inputsdiv">
        <label class='lblspecial' for="specalization">Specalization:</label>
        <select class="specialize" id="specialize">
          <option value="1">Front-End Develpoer</option>
          <option value="2"> Back-End Develpoer</option>
          <option value="3">Full-satck Develpoer</option>
        </select>
      </div>
    </div>
    <div class="inputsdiv">
      <label class='lbldesc' for="requirment">Requirment:</label>
      <input style="min-width: 60% ; max-width: 60%;" class="requirment" id='requirment' type="text"
        placeholder="Enter Requirment of proposal ..." name="requirment" required>
      <button class="addbtn" id="addMoreRequirment"> add </button>
    </div>
    <div class="btns">
      <div style='width:70%;'> </div>
      <button type="button" class="btn cancel" onclick="closeForm()">cancel</button>
      <button class="btn" id="createPost">Create</button>
    </div>
  </form>
</div>
<script>
  function openForm() {
    document.getElementById("proposalForm").style.display = "block";
  }
  function closeForm() {
    document.getElementById("proposalForm").style.display = "none";
  }
</script>
<div class="card">
  <h3>Job Inquiries</h3>
  {{#each proposals}}
  <div class="content">
    <div class="head-content">
      <div class="img"><img src="{{this.photo}}" alt="user photo"></div>
      <div class="username-spec">
        <span class="fullname">{{this.firstname}} {{this.lastname}}</span><br>
        <span class="specname">{{this.specName}}web developer</span>
      </div>
    </div>
    <p class="description">{{this.description}} <a href="/proposal/{{this.id}}" class="">more..</a>
    <p>
  </div>
  {{/each}}
</div>