<h1 class="page-header">
    Posts
</h1>
{{#each proposal}}
<div class="proposal">
    <div class="userinfo">
        <img src="{{this.photo_url}}"
            alt="" class="prop-img">
        <h6 class="prop-username"> {{this.firstname}} {{this.lastname}}</h6>
    </div>
    <div class="prop-description">
        {{this.description}}
        <a class="prop-more" href="/proposal/{{this.id}}">... more</a>
    </div>
</div>
{{/each}}

