<div> 
<img src="{{proposal.photo_url}}" alt="user image">
<h3 style="display:inline-block">{{ proposal.firstname}} {{ proposal.lastname}}</h3>
<h4>{{ proposal.name}} </h4>
</div>

<div>
    <h2>{{proposal.title}}</h2>
    <p>{{proposal.description}}</p>
</div>

<div>
    <h2> {{proposal.contact_me}} </h2>
</div>

{{!-- { firstname: 'fatma',
  specalization_id: 1,
  lastname: 'siam',
  email: 'f.siam@gmail.com',
  freelancer_url: 'https://mm.mm.mmmmm',
  photo_url: 'https://mm.mm.mmmmm',
  mobile_number: '0599999999',
  name: 'web develpoer',
  title: 'front-end develpoer',
  description: 'we need a front-end developer to working at project',
  contact_me: 'f.siam@gmail.com' } --}}