<div class="proposal" style="width:100%; text-align:center; box-sizing:border-box">
    <div class="user-info">
        <div class="left-user-info">
            <img src="{{proposal.photo_url}}" alt="user image">
        </div>
        <div class="right-user-info">
            <h2 class="username"> {{ proposal.firstname}} {{ proposal.lastname}} </h2>
            <h2 class="specalization-name"> {{ proposal.name}} </h2>
        </div>
    </div>

    <div class="description">
        <h2 class="proposal-title"> {{proposal.title}} </h2>
        <p class="proposal-description"> {{proposal.description}} </p>
    </div>

    <div class="requierments">
            <p> {{proposal.text}} </p>
    </div>

    <div class="contact-info">
        <span> {{proposal.contact_me}} </span>
        <span> {{proposal.mobile_number}} </span>
    </div>
</div>
